
#logo{
    height: 45px;
    
}
#imagen{
    height: 201px;
}
#promociones{
    text-align: center;
}

/* @media (max-width: 720px) {
    
    #imagen{
        height: 219px;
    }
} */
@media (min-width: 720px) {
    
    #imagen{
        height: 425px;
    }
}
@media (min-width: 1420px) {
    
    #imagen{
        height: 800px;
    }
}

@media (min-width: 1520px) {
    
    #imagen{
        height: 1070px;
    }
}

/*-----------CARD------------*/

.card-list{
    height: 150px;
}

.card-description{
    height: 60px;
}

.card-price{
    text-align: right;
    font-size: 40px;
    font-weight: 600;
}



/*------------------*/